.outputPython {
  display: none;
}
.outputJavaScript {
  display: none;
}
.outputShakespeare {
  display: none;
}
.outputDontBother {
  display: none;
}
body {
  background-color: rgb(160, 177, 153);
  font-family: sans-serif;
}
.container {
  background-color:;
}
.qBox {

  
  padding-top: 20pt;
  border-style: solid;
  border: black;
}
h5 {
  font-weight: bold;
}