.outputPython {
  display: none;
}
.outputJavaScript {
  display: none;
}
.outputShakespeare {
  display: none;
}
.outputDontBother {
  display: none;
}
.codeText {
  font-weight: bold;
  font-family: courier;
  color: rgb(119, 58, 0);
}
body {
  background-color: rgb(160, 177, 153);
  font-family: sans-serif;
}
.container {
  background-color:;
}
.qHeading {
  font-weight: bold;
  font-size: 18pt;
}
.qBox {
  box-sizing: border-box;
  margin-top: -2px;
  padding: 20pt;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  font-size: 14pt;
}
#quizOutput {
  font-size: 14pt;
}
.btn {
  background-color: blanchedalmond;
  border-color: black;
  margin-top: 10pt;
  margin-bottom: 10pt;
}
.headerBox {
  box-sizing: border-box;
  font-size: 40pt;
  font-weight: bold;
  font-family: helvetica;
  margin-top: 20pt;
  margin-left: 20pt;
  margin-right: 20pt;
  margin-bottom: 0pt;
}
.ppBox {
  box-sizing: border-box;
  font-size: 14pt;
  font-style: italic;
  margin: 20pt;
}
.instBox {
  box-sizing: border-box;
  margin: 20pt;
  margin-bottom: 80pt;
  font-size: 22pt;
}